<!DOCTYPE html>
<html ng-app="ImageApp">
    <head>
	<meta charset="UTF-8">
	<title>Monitoring IOTA trade volume with bitfinex data</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="/app.js"></script>
    </head>
    <body ng-controller="ImageController">
	<h1>Monitoring the IOTA trade volume with data from bitfinex</h1>
	<div >
	    <div>
		<p>How far would you like to go back?</p>
		<p>Go back <input type="text" name="goback" ng-model="goback" value="1440"> minutes</p>
		<p>With a seperation interval of: <input type="text" ng-model="interval_back" ng-model-options="{debounce: 250}" name="interval" value="3600"> seconds</p>
		<button ng-click="sendGoBack()">Submit query</button>
	    </div>
	    <div>
		<p>Or specify a custom date range</p>
		Start: <input type="date" ng-model="min" name="min" id="min">
		End: <input type="date" ng-model="max" name="max" id="max">
		Seperation interval: <input type="text" name="interval" ng-model="interval_date" id="interval_date" value="3600"> seconds
		<button ng-click="sendStartEnd()">Submit query</button>
	    </div>
	    <img ng-src="{{amt_url}}"/>
	    <img ng-src="{{amt_div_transactions}}"/>
	    <div>
		<table class="table-hover table-bordered">
		    <tr>
			<th>Date</th>
			<th>Buy Amount</th>
			<th>Sell Amount</th>
			<th># Buys</th>
			<th># Sells</th>
		    </tr>
		    <tr ng-repeat="(id, x) in tabledata">
			<td>{{ id }}</td>
			<td>{{ x.amount_buy }}</td>
			<td>{{ x.amount_sell }}</td>
			<td>{{ x.transactions_buy }}</td>
			<td>{{ x.transactions_sell }}</td>
			{{x}}
		    </tr>
		</table>
	    </div>
	</div>
    </body>
</html>
