<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<title>Monitoring IOTA trade volume</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	{{js|safe}}
	{{css|safe}}
    </head>
    <body>
	<h1>Monitoring the IOTA trade volume</h1>
	    <div>
		<p>How far would you like to go back?</p>
		<form method="POST" action="/" id="tracebackform">
		    <p>Go back <input type="text" name="goback" value="1440"> minutes</p>
		    <p>With a seperation interval of: <input type="text" name="divideby" value="3600"> seconds</p>
		    <input type="submit">
		</form>
	    </div>
	    <div>
		<p>Or specify a custom date range</p>
		<form method="POST" action="/" id="dataform">
		    Start: <input type="date" name="min" id="min">
		    End: <input type="date" name="max" id="max">
		    Seperation interval: <input type="text" name="divideby" id="divideby"> seconds
		    <input type="submit">
		</form>
	    </div>
	    {{script_per|safe}}
	    {{script|safe}}
	    <div class="container">
	    <h3>Chart time is GMT</h3>
		<div class="row">
		    <div >
			{{div|safe}}
		    </div>
		    <div >
			{{div_per|safe}}
		    </div>
		</div>
		<div class="row">
		    <table>
			<tr>
			    <th>Date</th>
			    <th>Buys</th>
			    <th>Sells</th>
			</tr>
		    {% for date, trade in trades.items() %}
			<td>{{date}}</td>
			<td>{{trade[0]}}</td>
			<td>{{trade[1]}}</td>
		    {% endfor %}
		    </table>
		</div>
	    </div>
    </body>
</html>
